
:root {
  --color-primary: #7E34F7;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}


.flex-1 {
  flex: 1;
}

.d-flex {
  display: flex;
}

.ai-center {
  align-items: center;
}


.input-outlined {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  padding: 6px 10px;
  border-radius: 4px;
  color: #8A8F9C;
}

.button {
  all: unset;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  padding: 7px 20px;
}

.button-primary {
  background: var(--color-primary);
  color: white;

}

.button-text {
  color: #4B587C;
}
